$dark-gray: #333;
$simple-grey:#2f2f2f;
$simple-light:#464646;
$grey-txt:#3c3c3c;
$altfocus:#11250b;
$alfa:rgba(47, 47, 47, 0.7) ;


$menufont:'Lato', sans-serif;
$helvetia:'Helvetica', 'Arial', sans-serif;


//transitions
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}


//keyframes
@mixin keyframes($box) {
  @-webkit-keyframes #{$box} {
    @content; 
  }
  @-moz-keyframes #{$box} {
    @content;
  }
  @-ms-keyframes #{$box} {
    @content;
  }
  @keyframes #{$box} {
    @content;
  } 
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
 //background-image: linear-gradient(hotpink, tomato);
//@include linear-gradient(hotpink, tomato);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
//.box { @include border-radius(10px); }
// box -shadows

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

//@include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.075), inset);


//rgba colors
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}

//@include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));



@mixin breakpoint($point) {
      @if $point == extralarge {
     @media (min-width: 85.37em) { @content ; }
  }
   @else if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 44.6875em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
    @else if $point == smallmobile {
     @media (max-width: 20em)  { @content ; }

  }
}
body {
  padding:0px 0px;
 margin:0px 0px;
  font-family: $helvetia;
.empty{
  clear:both;
}

// *{
//  box-sizing: border-box;
// }

  .wrapper{
        color: #fff;
        font-family:$menufont;
        padding:0px 0px;
    &__main{
      margin:0 auto;
      .hdcontaniner{
        max-width:940px;
        margin:0 auto;
      }
    .header{
      max-width:100%;
      background:#3f3f3f url(./img/header-bg.png);
      padding-top:25px;
      height:492px;
      border-bottom:3px solid #232323;
      &__block{
        &__logo{
          float:left;
        }
      }
      &__menu{
        font-family: $helvetia;
        float:left;
          &__nav{
            padding:6px 60px;
            margin:0px;
              &__item{
                list-style-type: none;
                display:inline;
                 border-right:1px solid $simple-light;
                &__link{
                  font-size:12px;
                  color:white;
                  text-decoration: none;
                  padding:7px;
                  @include border-radius(7px);
                }
                 &__link:hover{
                  background: $simple-grey;
                }
                 &__link:focus{
                  outline:none;
                 }

              }
           }
          }
           &__search{
           float:left;
           margin-left:150px;
              &__input{
              color:white;
              width:150px;
              padding:8px;
              background:$simple-grey url(./img/search.svg) no-repeat;
             background-size:15px 15px;
             background-position:15px;
              @include border-radius(20px);
              outline:none;
              border:none;
              }
            &__input:focus{
              background: $simple-grey;
            }
    }
    &__contener{
      margin:30px auto;
      &__slider-place{
        &__info{
          font-family: $helvetia;
          margin-left:1%;
          box-sizing:border-box;
            float:left;
             width:43%;
            &__title{
              font-weight:bold;
              font-size:16px;
            }
            &__text{
              font-size:12px;
              width:90%;
            }
              &__jubotron{
                    &__btn{
                      font-size:13px;
                      font-weight: bold;
                      color:white;
                      background:#9a9a9a;
                      width:143px;
                      height:45px;
                      @include border-radius(3px);
                      border:none;
                    }
             }
        }
          &__image{
            float:right;
           margin-right:8.51063829%;
            max-width:46.8723404255%;
          }
      }
    }



     }

    //****************************************** cards blocks***************************//



  .main-contener{
    max-width:940px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
      flex-wrap: wrap;
      justify-content:center;
    &__block{
      box-sizing:border-box;
      background:white;
      color:black;
      width:220px;
      position:relative;top:-70px;

      &__contener{
       padding-top:2px;
       padding-left:5px;
          &__head{
            margin:0px 0px;
            font-size:12px;
            font-family: $helvetia;
          }
          &__article{
            &__h2{
              font-size:14px;
              color:#808080;
            }

            &__p{
              color:black;
              font-size:12px;
            }
          }
            &__separator{
              margin-top:20px;
              width:100%;
              height:5px;
              background:black;
              background:repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.2),
              rgba(255, 255, 255, 0.2) 3px,
              rgba(0, 0, 0, 0.3) 3px,
              rgba(0, 0, 0, 0.3) 6px);
          }
          &__foot{
            margin-top:20px;
            &__link{
              font-family: $helvetia;
              text-decoration:none;
              font-weight:bold;
              color:black;
            }
          }
      }
    }
    &__block:nth-child(2){
        margin-left:2.12765957%;
      }
      &__block:nth-child(3){
        margin-left:2.12765957%;
      }
      &__block:nth-child(4){
        margin-left:2.12765957%;
      }




//     //********************************************* recent works*******************************//




    &__work-block{
      color:black;
    max-width:940px;
    margin:0 auto;
    &__separator{
              width:100%;
              height:5px;
              background:repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.2),
              rgba(255, 255, 255, 0.2) 3px,
              rgba(0, 0, 0, 0.3) 3px,
              rgba(0, 0, 0, 0.3) 6px);
    }
    &__text-block{
      width:25%;
        float:left;
        box-sizing:border-box;
    }
      &__img-contener{
        width:100%;
        margin-top:20px;
        box-sizing:border-box;
        font-size:12px;
      .testowy{
        display:flex;
        align-content: flex-start;
        flex-wrap:wrap;
        flex-direction:row;
        align-content:center;
      }
      &__insert{
        color:white;
        width:220px;
        height:200px;
         margin-left:2.12765957%;
         margin-bottom:2.12765957%;
        &__image{
          position: absolute;
					z-index: -10;
        }
        &__views{
          visibility:hidden;
          position:relative;
          top:170px;
          left:10px;

        }
        &__likes{
          visibility:hidden;
            position:relative;
            top:143px;
            left:80px;
        }
        &__comment{
          visibility:hidden;
            position:relative;
            top:115px;
            left:135px;
        }
        &:hover {
          background:$alfa;
          cursor:pointer;
          &:hover .main-contener__work-block__img-contener__insert__views{
            visibility:visible;
          }
           &:hover .main-contener__work-block__img-contener__insert__likes{
            visibility:visible;
          }
           &:hover .main-contener__work-block__img-contener__insert__comment{
            visibility:visible;
          }

     }
    }
    }
.text-blok{
display:none;


 }

  }
   }





//************************************************* Footer **************************************************************//
  .footer{
   background:#3f3f3f url(./img/header-bg.png);
   &__contener{
     max-width:940px;
     margin:0 auto;
     display:flex;
     align-content: flex-start;
     flex-wrap:wrap;
     &__about{
       padding-top:1%;
       width:220px;
       margin-left:1.12765957%;
       &__h2{
         padding-bottom:10px;
         border-bottom:2px solid $simple-light;
       }
     }
   }
        &__bottom{
          opacity:0.5;
          height:72px;
          margin:0 auto;
          max-width:940px;
      background:rgba(0, 0, 0, 0.28);
      &__separator-pion{
        float:left;
        background:#464646;
        height:30px;
        width:1px;
        margin-left:1%;
        margin-right:2%;
        margin-top:2.5%;
      }
      &__h4{
        width:70%;
        padding-top:2%;
      }
      &__logo{
        float:left;
        margin:2.5%;
      }
      }
  }








}
@include breakpoint(tablet){
  .wrapper{
    width:100%;
  }
  &__main{
  padding-left:0px;
  padding-right:0px;
  }
.header{
  padding-left:10%;
  margin-left:0px;
  margin-right:-20px;
  height:700px;
  &__menu{
    padding-top:6%;
  }
  &__search{
    display:block;
    position:relative;top:-70px;left:230px;
  }
}
.header__contener__slider-place__info{
  float:none;
  width:100%;
}
.header__contener__slider-place__image{
max-width:52%;
position:absolute;
margin-left:22%;
top:63%;
}

.header__contener__slider-place__info__jubotron{
position:relative;top:220px;left:10px;
}


.main-contener{
&__block{
margin-left:2.12765957%;
margin-bottom:5%;
box-shadow:1px 1px 5px black;
      &__block:nth-child(2){
        margin-left:0px;
      }
      &__block:nth-child(3){
        margin-left:0px;
      }
      &__block:nth-child(4){
        margin-left:0px;
      }
}
}
.main-contener__work-block{
    .testowy{
display: flex;
flex-wrap:wrap;
align-content:flex-start;
}
.main-contener__work-block__img-contener__insert{
  margin-left:1.12766%;
  margin-bottom:1.12765957%;
}

.text-blok{
  display:inline-block;
  width:220px;
margin-left:1.12765957%;
}
  float:none;
  margin-top:-60px;
  &__text-block{
    display:none;
    width:220px;
    height:200px;
  }
  &__h2{
    padding:0px 0px;
  }
  &__img-contener{
    width:100%;
     &__insert:nth-child(2){
        display:none;
      }
  }

}

.footer{
  margin-top:10%;
  &__contener{
    padding-left:17%;
    &__about{
      width:34%;
      margin-left:4%;
    }
  }

  &__bottom{
    padding-right:14%;
    padding-left:20%;
    padding-top:20px;
    padding-bottom:14px;
    max-height:107px;
    display:flex;
    justify-content:center;
    &__p{
    font-size:13px;
      width:100%;
padding:0px;
    }
  }



}



}


}
@include breakpoint(smallmobile){
  body{
    margin:0px 0px;
    padding:0px 0px;
  }
  .wrapper{
  width:100%;

    .buttonnav{
  position:absolute;
  display:block;
    width:30px;
    margin-left:260px;
    margin-top:20px;
		span{
			    display:block;
				width:25px;
				height:3px;
				background-color:white;
				position:relative;
				cursor:pointer;
				&:before,
				&:after{
					content: ' ';
					display:block;
					width:30px;
					height:3px;
					background-color:white;
					position:absolute;
				}
					&:before{
						top:-6px;
					}
					&:after{
						top:6px;
					}
				
		}
    }

  &__main{
  padding-left:0%;
  padding-right:0%;
  }

.buttonnav.open {
  & + .header__menu { 
    display:block;
    visibility: visible;
  }
 }


.header{
  padding:15px 12px;
  margin-left:0px;
  margin-right:0px;
  height:540px;
      &__menu{
        display:flex;
        align-content:center;
        width:100%;
        display:none;
        z-index:10;
          visibility:hidden;
        &__nav{	
          padding:0px 0px;
          &__item{
            background:rgba(0, 0, 0, 0.31);
            display:block;
            margin-left:10px;
            margin-right:10px;
            padding:0em 0em;
            @include border-radius(0px);
            &__hover{
              @include border-radius(0px);
            }
            &__item:focus{
                 background:$simple-light;
                 @include border-radius(0px);
            }
            &__link{
              text-align:center;
              font-size:14px;
              font-weight:bold;
              display:block;
            }
            
          }
        }
  


  
}

.header__contener__slider-place__info{
  z-index:5;
}



.header__contener__slider-place__info__jubotron{
  position:static;
}


.header__contener__slider-place__image{
  z-index:1;
  opacity:0.2;
  margin-right:10%;
  margin-top:-35%;
  position:static;
}


&__search{
  display:none;
}

}

.main-contener{
  width:300px;
  margin:50px auto;

.text-blok{
    width:300px;
  }

.main-contener__work-block__img-contener__insert__image{
  width:220px;
}




}

.main-contener__block{
  margin-left:0px;
  width:300px;
}
.main-contener__block:nth-child(2){
  margin-left:0px;
}
.main-contener__block:nth-child(3){
  margin-left:0px;
}
.main-contener__block:nth-child(4){
  margin-left:0px;
}
.main-contener__work-block{
  margin-right:0px;
}






}
}
}

