$dark-gray: #333;
$simple-grey:#2f2f2f;
$simple-light:#464646;
$grey-txt:#3c3c3c;
$altfocus:#11250b;
$alfa:rgba(47, 47, 47, 0.7) ;


$menufont:'Lato', sans-serif;
$helvetia:'Helvetica', 'Arial', sans-serif;


//transitions
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}


//keyframes
@mixin keyframes($box) {
  @-webkit-keyframes #{$box} {
    @content; 
  }
  @-moz-keyframes #{$box} {
    @content;
  }
  @-ms-keyframes #{$box} {
    @content;
  }
  @keyframes #{$box} {
    @content;
  } 
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
 //background-image: linear-gradient(hotpink, tomato);
//@include linear-gradient(hotpink, tomato);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
//.box { @include border-radius(10px); }
// box -shadows

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

//@include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.075), inset);


//rgba colors
@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
}

//@include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));



@mixin breakpoint($point) {
      @if $point == extralarge {
     @media (min-width: 85.37em) { @content ; }
  }
   @else if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 44.6875em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
    @else if $point == smallmobile {
     @media (max-width: 20em)  { @content ; }

  }
}



html{
  box-sizing:border-box;
}


body{
  //font-family:$helvetia;
  font-family:$menufont;
  margin:-5px 0px;
  padding:0px 0px;
}




.header{
  padding-top:10px;
  width:100%;
background:#3f3f3f url(./img/header-bg.png);
height:514px;
    &__center{
      width:100%;
     max-width:940px;
      margin:0 auto;
      &__logotype{
        margin:0px 0px 0px 0px;
      //  padding-top:5px;
        margin-top:5px;
        width:100%;
        display:flex;
        flex-wrap:wrap;
         flex-direction:row;
         justify-content:space-between;

         &__menu{
           display:block;
           &__nav{
              &__item{
                padding-left:2%;
                padding-right:2%;
                list-style-type: none;
                display:inline;
                 border-right:1px solid $simple-light;
                &__link{
                  font-size:14px;
                  color:white;
                  text-decoration: none;
                  padding:7px;
                  @include border-radius(7px);
                }
                &__link:hover{
                  background: $simple-grey;
                }
                &__link:focus{
                  outline:none;
                 }
              }
         }
      }
        &__search{
          padding-top:8px;
              &__input{
              color:white;
              width:150px;
              padding:8px;
              background:$simple-grey url(./img/search.svg) no-repeat;
             background-size:15px 15px;
             background-position:15px;
              @include border-radius(20px);
              outline:none;
              border:none;
              }
            &__input:focus{
              background: $simple-grey;
         }
     }
  }
}
.small{
  display:none;
}
.slider{
  overflow:hidden;
}



}








@include breakpoint(tablet){
  .header__center{
    max-width:460px;
  }
.header__center__logotype{
  display:block;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: flex-start;
   align-items: flex-start;
      &__logo{
        flex: 0 1 auto;
        align-self: auto;
      }
      &__menu{
        order: 1;
        flex: 0 1 auto;
        align-self: flex-end;
      }
      &__search{
        padding-top:0px;
        flex: 0 1 auto;
         align-self: auto;
      }
} 

}


@include breakpoint(smallmobile){
  .header__center{
    max-width:300px;
  }


/********************************************* burger menu*****************************************/

    .buttonnav{
  position:absolute;
  display:block;
    width:30px;
    margin-left:260px;
    margin-top:13px;
		span{
			    display:block;
				width:25px;
				height:3px;
				background-color:white;
				position:relative;
				cursor:pointer;
				&:before,
				&:after{
					content: ' ';
					display:block;
					width:30px;
					height:3px;
					background-color:white;
					position:absolute;
				}
					&:before{
						top:-6px;
					}
					&:after{
						top:6px;
					}
				
		}
    }
.header__center__logotype__menu{
  visibility: hidden;
  display:none;
}

    .buttonnav.open {
  & + .header__center__logotype__menu {
    display:block;
    visibility: visible;
  }
 }


  .header__center__logotype__menu{
    width:300px;
              &__nav{
                margin:0px;
                padding:0px;
                text-align:center;
               // display: flex;
               // justify-content:space-between;
                //justify-content:center;
                &__item{
                  background:rgba(0, 0, 0, 0.31);
                  display:block;
                  border:none;
                  padding-top:5px;
                  padding-bottom:5px;
                  width:100%;
                  &__link{
                    width:100%;
                    @include border-radius(0px);
                  }
                }
                &__item:hover{

                }

              }
.small{
  text-align:center;
}

  }
.header__center__logotype__search{
  display:none;
}




}





.header__center__contener{
  padding:10px;
    &__slider-place{
      &__info{
        //  display:flex;
        // flex-wrap:wrap;
        // align-self:flex-start;
        // flex-direction:row;
        // justify-content:space-between;
        // align-items:center;
        color:white;
        &__textowe{
          max-width:40.42553119%;
          float:left;
          &__title{
            font-size:0.8vw;
          }
          &__text{
             font-size:0.8vw;
          }
           &__jubotron{
             position:static;
              &__btn{
                font-size:13px;
                font-weight: bold;
                color:white;
                background:#9a9a9a;
                width:143px;
                height:45px;
                @include border-radius(3px);
                border:none;
              }
              &__btn:hover{
                background:#545454;
              }
          }
        }
         
            &__image{
              position:static;
        max-width:48.93617021%;
        }
      }
    }

}

@include breakpoint(tablet){
.header__center__contener{
padding:0px;
}

  .header__center__contener{
    padding:0px;
  &__slider-place{
    &__info{
          &__textowe{
          max-width:100%;
      float:left;
          &__title{
            font-size:2vw;
          }
          &__text{
             font-size:2vw;
          }
            &__jubotron{
              position:relative;
              top:80px;
              float:left;
            }
          }
          &__image{
            position:relative;
            top:-60px;
            float:right;
          }
  }
  }
}
}




@include breakpoint(smallmobile){
.header__center__contener__slider-place__info__textowe{
&__title{
  font-size: 4vw;
}
&__text{
  font-size: 3vw;
}
}
}



.main-contener{
  max-width:940px;
  margin: 0 auto;
  &__cards{
      max-width:940px;
      margin: 0 auto;
      margin-top:-60px;
        display:flex;
        flex-wrap:wrap;
         flex-direction:row;
       justify-content:space-between;
       justify-content:center;
    &__block{
      box-shadow:0px 2px 10px black;
      box-sizing:border-box;
      background:white;
     // max-width:23.40425532%;
      width:220px;
      margin:5px;
      &__contener{
        padding:15px;
        font-size:0.8em;;

        &__separator{
              margin-top:20px;
              width:100%;
              height:5px;
              background:black;
              background:repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.2),
              rgba(255, 255, 255, 0.2) 3px,
              rgba(0, 0, 0, 0.3) 3px,
              rgba(0, 0, 0, 0.3) 6px);
          }
           &__foot{
             padding-top:10px;
             &__link{
              text-decoration:none;
              font-weight:bold;
              color:black;
             }
           } 
    }
    }

  } 
 }

@include breakpoint(tablet){
.main-contener__cards{

  &__block{
    margin:20px;
  }

}
}


@include breakpoint(smallmobile){
.main-contener__cards__block:nth-child(3){
display:none;
}
.main-contener__cards__block:nth-child(4){
display:none;
}
}











 .main-contener__work-block{
  padding:50px 0px 0px 15px;
  max-width:940px;
margin:0 auto;
    &__separator{
      width:100%;
      height:5px;
      background:repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 3px,
    rgba(0, 0, 0, 0.3) 3px,
    rgba(0, 0, 0, 0.3) 6px);
    }
    &__all-contener{
      padding-top:40px;
         display:flex;
        flex-wrap:wrap;
        align-self:flex-start;
        flex-direction:row;
        justify-content:space-around;
        justify-content:flex-start;
       // align-items:center;
         &__text-block{
           box-sizing:border-box;
            //max-width:23.40425532%;
            width:220px;
            height:200px;
            font-size:13px;
            position:absolute;
             align-self: auto;
            &__h3{
              margin:0px;
            }
            }

        &__insert{
            display:block;
            margin-right:10px;
            margin-bottom:10px;
            color:white;
            box-sizing:border-box;
            width:220px;
            height:200px;
            font-size:10px;
                    // display:flex;
                    // align-items:center;
                    // align-self:flex-start;
                    // flex-direction:row;
                    // justify-content:space-between;
                    // flex-wrap:wrap;
                    &__image{
                      position: absolute;
                      z-index: -10;
                    }
                    &__views{
                      display:inline-block;
                      visibility:hidden;
                      position:relative;
                     top:110px;
                     left:-60px;
                      }
                    &__scope{
                      display:inline-block;
                      opacity:0.5;
                      width:80px;
                      height:80px;
                       @include border-radius(10px);
                        visibility:hidden;
                        background:$simple-grey url(./img/search.svg) no-repeat;
                        background-size:50px 50px;
                        background-position:15px;
                        position:relative;
                       top:57px;
                       left:68px;
                        color:black;
                    }
                    &__likes{
                      display:inline-block;
                      visibility:hidden;
                      position:relative;
                     top:110px;
                      left:-30px;
                    }
                    &__comment{
                      display:inline-block;
                       visibility:hidden;
                        position:relative;
                        top:110px;
                       left:-15px;
                    }
                   &:hover {
                          background:$alfa;
                          cursor:pointer;
                          &:hover .main-contener__work-block__all-contener__insert__views{
                            visibility:visible;
                          }
                          &:hover .main-contener__work-block__all-contener__insert__likes{
                            visibility:visible;
                          }
                          &:hover .main-contener__work-block__all-contener__insert__comment{
                            visibility:visible;
                          }
                          &:hover .main-contener__work-block__all-contener__insert__scope{
                            visibility:visible;
                          }
                   }    
            }


        
  }
 }


@include breakpoint(tablet){
.main-contener__work-block{
 // width:460px;
  }
.main-contener__work-block__all-contener{
  width:460px;
  margin:0 auto;
//  display:flex;
//  align-items:center;

}


.trik{
  display:none;
}

.main-contener__work-block__all-contener__insert:nth-child(4){
  display:none;
}

}


@include breakpoint(smallmobile){
  .main-contener__work-block{
    width:300px;
  }
  .main-contener__work-block__all-contener{
  width:300px;
  }

.main-contener__work-block__all-contener__text-block{
  font-size:5vw;
  width:300px;
}


.main-contener__work-block{
  display:block;
  padding:0px;
}

.main-contener__work-block__all-contener__insert{
  padding:0px;
  margin:0px;
    width:300px;
    height:273px;
    margin-bottom:10px;
        &__image{
           width:300px;
           height:273px;
        }
        &__scope{
          position:relative;
          top:80px;
          left:112px;
          display:inline-block;
        }
        &__views{
          font-size:4vw;
          top:175px;
          left:-63px;
           display:inline-block;
         }
         &__likes{
          font-size:4vw;
          top:175px;
          left:-12px;
           display:inline-block;
         }
         &__comment{
          font-size:4vw;
          top:175px;
          left:15px;
          display:inline-block;
         }
}
.main-contener__work-block__all-contener__insert:nth-child(3){
display:none;
}

.main-contener__work-block__all-contener__insert:nth-child(4){
display:none;
}
.main-contener__work-block__all-contener__insert:nth-child(5){
display:none;
}

}







 .footer{
 width:100%;
background:#3f3f3f url(./img/header-bg.png);
    &__contener{
      box-sizing:border-box;
      max-width:940px;
      margin:0 auto;
        display:flex;
        flex-wrap:wrap;
        align-self:flex-start;
        flex-direction:row;
        justify-content:space-between;
        justify-content:flex-start;
        justify-content:center;

      &__about{
        color:white;
        box-sizing:border-box;
     max-width:23.40425532%;
    max-width:220px;
      margin-right:15px;
      &__h2{
        padding-bottom:10px;
        border-bottom:2px solid $simple-light;
      }
      &__box{
        width:46px;
        height:46px;
        background:#cccccc;
        margin-right:6px;
        margin-bottom:6px;
        float:left;
        border:1px solid #ffffff;
      }
      }
    }
    &__bottom{
      color:white;
         opacity:0.5;
          height:72px;
          margin:0 auto;
          max-width:940px;
          background:rgba(0, 0, 0, 0.28);
          &__contener{
            width:50%;
            &__logo{
              padding:2%;
            }
           &__separator-pion{
                float:left;
                background:#464646;
                height:30px;
                width:1px;
                margin-left:1%;
                margin-right:2%;
                margin-top:5%;
                }
                &__p{
                  padding-top:2%;
                }
                &__logo{
                  float:left;
                  margin:2.5%;
                }
           }
    }
 }

 @include breakpoint(tablet){
.footer__contener{
  max-width:100%;
  margin-right:25px;
  margin-left:25px;
}
.footer__bottom__contener{
width:100%;
&__logo{
   padding:1%;
}
  &__p{
    padding-top:3%;
    padding-right:5%;
  }
}

}

@include breakpoint(smallmobile){
.footer__contener{
  margin-left:10px;
  margin-right:10px;
padding-top:30px;
      &__about{
        padding:0px;
       width:300px;
        margin:0px;
      }

}

.footer__contener__about:nth-child(3){
display:none;
}

.footer__contener__about:nth-child(4){
display:none;
}
.footer__bottom{
  font-size:3vw;
  height:120px;
  padding-left:20px;
  &__contener{
      text-align: center;
          display:flex;
          flex-wrap:wrap;
          justify-content:center;
          flex-direction:column;
          align-items:center;
    &__separator-pion{
      display:none;
    }

  }
}


}